{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burgerMenuAction()">
                <img src="{% static './images/menu-list/menu.svg' %}" alt="Menu">
            </button>
        </div>
        
    </header>
    <div id="menu-list" style="display: none;">
        <ul>
            <li class="menu-list_item">
                <a href={% url 'home_page' %} class="menu-list_link">
                    <img src=" {% static './images/menu-list/home menu.svg' %}" alt="Home">
                <span>Главная</span>
            </a>
            </li>
            <li class="menu-list_item">
                <a href={% url 'jobs_page' %} class="menu-list_link">
                    <img src="{% static 'images/menu-list/jobs.svg' %}" alt="Job Icon">
                <span>Все курсы</span>
            </a>
            </li>
            <li class="menu-list_item">
                <a href={% url 'test_page' %} class="menu-list_link">
                    <img src=" {% static "./images/categories.svg" %}" alt="Home">
                <span>Задания</span>
            </a>
            </li>
            <li class="menu-list_item">
                <a href={% url 'guides_page' %} class="menu-list_link">
                    <img src=" {% static "./images/menu-list/guides.svg" %}" alt="Home">
                <span>Гайды</span>
            </a>
            </li>
            {% if not user.is_authenticated %}
            <li class="menu-list_item">
                <a href="{% url 'sign_up_page' %}" class="menu-list_link">
                    <img src=" {% static "./images/menu-list/signup.svg" %}" alt="Home">
                <span>Регистрация</span>
            </a>
            </li>
            <li class="menu-list_item">
                <a href="{% url 'login_page' %}" class="menu-list_link">
                    <img src="{% static "./images/menu-list/enter.svg" %}" alt="Home">
                <span>Вход</span>
            </a>
            </li>
            {% else %}
            <li class="menu-list_item">
                <a href="{% url 'logout_action' %}" class="menu-list_link">
                    <img src=" {% static "./images/menu-list/exit.svg" %}" alt="Home">
                <span>{{ user.username }} :Выход</span>
            </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static './js/script.js' %}"></script>
</body>
</html>