{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}


{% block content %}
<section class="categories">
    <h2 class="title">Области</h2>
    <div class="categories-list">
        <a href="{% url 'jobs_page' %}" class="category-item">Все</a>
        {% for category in categories %}
        <a href="{% url 'jobs_by_category_page' slug=category.slug %}" class="category-item">{{ category.name }}</a>
        {%  endfor  %}
    </div>

</section>
<section class="jobs">
    <div class="container">
        <h2 class="title">Новые курсы</h2>
        {% for job in jobs %}
        <div class="jobs-list">
            <div class="jobs-card">
                <div>
                    <h3 class="jobs-card_title">название курса: {{ job.title }}</h3>
                    <h3 class="jobs-card_company">компания: {{ job.company }}</h3>
                    <h3 class="jobs-card_title">стоимость: {{ job.experience }}</h3>
                    <h3 class="jobs-card_title">
                        {% if job.salary == 'не указано'%}
                        {{ job.salary }}
                        {% else %}
                        {{ job.salary }} &#8376; 
                        {% endif %}
                    </h3>
                </div>
                <a href="{% url 'job_detail_page' pk=job.pk %}" class="dark-button">Смотреть</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}